
.react-slideshow-container+ul.indicators .each-slideshow-indicator:before{
    background: #fff !important;
    border-radius: 0% !important;
    width: 25px;
    height: 4px !important;
}
.react-slideshow-container+ul.indicators li{
    padding: 20px !important;
}
.react-slideshow-container .default-nav:last-of-type {
    margin-left: -30px;
    margin-top: 390px;
}
.react-slideshow-container .default-nav:first-of-type {
    margin-right: -30px;
    margin-top: 155%;
    color: #fff !important;
    border-right: 0;
    border-top: 0;
}
.react-slideshow-container .default-nav{
    /* background: none !important; */
}
.images-wrap >div{
    background-position: center !important;
}