
.menu-open {
    animation: menu-opens 0.3s ease-in-out forwards !important;
}

.menu-close { 
    animation: menu-closes 0.3s ease-in-out forwards !important;
}

.close-button-appear {
    animation: close-button-animation 0.3s ease-in-out forwards !important;
}

@keyframes menu-opens {
    from {
     
        top: -10% !important;
    }

    to {
        top: -0% !important;
    }
}

@keyframes menu-closes {
    from {
        
        top: -10% !important;
    }

    to {
        top: -1000% !important;
     
    }
}

@keyframes close-button-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#news-container::-webkit-scrollbar{
    background-color: white;
    border-radius: 4px;
    width: 10px;
}
#news-container::-webkit-scrollbar-thumb{
    background-color: rgb(33, 43, 86);
    border-radius: 4px;
}